.booking-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.booking-form h2,
.booking-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.booking-form input[type="radio"],
.booking-form input[type="checkbox"] {
    margin-right: 8px;
}

.booking-form div {
    margin-bottom: 15px;
}

.service-price {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.service-price span {
    font-size: 20px;
    font-weight: 700;
    color: #f00;
}

.delivery-option {
    margin-bottom: 20px;
    display: flex;
}

.delivery-option-addtional {
    display: block;
    color: #333;
    font-size: 12px;
}

.booking-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #e89305;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.booking-submit-button:hover {
    background-color: #d17b05;
}