.booking-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.booking-form h2,
.booking-form h3,
.booking-form h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #e89305; /* Primary color */
    font-family: 'iciel-soup-of-justice', sans-serif;
}

.booking-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form input[type="number"],
.booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.booking-form input[type="radio"],
.booking-form input[type="checkbox"] {
    margin-right: 8px;
}

.booking-form div {
    margin-bottom: 15px;
}

.service-price {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.service-price span {
    font-size: 20px;
    font-weight: 700;
    color: #f00;
}

.delivery-option {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.delivery-option-addtional {
    display: block;
    color: #333;
    font-size: 12px;
    margin-left: 10px;
}

.price-addtional {
    color: #333;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.booking-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #e89305;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.booking-submit-button:hover {
    background-color: #d17b05;
}

.booking-form p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.booking-form .service-price {
    color: #555;
    font-weight: 700;
    margin-bottom: 15px;
}

.booking-form .service-price span {
    color: #e89305;
}

h4 {
    color: #272727;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.error {
    color: red;
    font-size: 12px; /* Smaller text */
    margin-top: 4px;
  }
  
  .full-width-input {
    width: 100%; /* Full width */
    padding: 10px; /* Add padding for better appearance */
    margin-bottom: 15px; /* Space below the input */
    border: 1px solid #ddd; /* Border styling */
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
  }
  