.pet-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pet-card-image {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Create a square aspect ratio */
  overflow: hidden;
}

.pet-card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 10px;
}

.pet-card:hover .buttons {
  display: flex;
}

.detail-button, .book-button {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
}

.detail-button:hover, .book-button:hover {
  transform: scale(1.05);
}

.book-button:hover {
  background-color: red;
}

.pet-card-content {
  padding: 0 10px;
  padding-bottom: 40px;
}

.pet-card-content h3 {
  color: #272727;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  height: 40px;
}

.pet-card-content .pet-name {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #e67e22;
  margin-bottom: 10px;
}

.availability-btn {
  position: absolute;
  bottom: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 5px;
  background-color: red;
}

.availability {
  margin: 5px;
  font-size: 12px;
}

.in-stock {
  color: white;
  font-weight: bold;
}

.out-of-stock {
  color: white;
  font-weight: bold;
}